.title{
    font-family: 'kollektif', 'arial', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

  }



  
.hero{
  background-image: linear-gradient(141deg, #4b0404f6 0%, #7c0606f6 71%, #af0c0cf6 100%);

}

.background{
      background: url('../../../assets/wood2.png');    
    background-size: cover;
}

.background-story{
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../assets/fondo.png');    
  background-size: cover;
}
.container-fluid{
    text-align: center;
}

.img-box {
	height: 500px;
	width: 100%;
	position: relative;
}

.contain{
    object-fit: contain;
    height: 100%;
  }



  .beautify{
    color: #fff;
    text-align: justify;
    font-size: 25px;
    
  }



 
@media(max-width: 767px) {
    .title{
        font-size: 30px;
        text-align: center;
    }

    .beautify{
      font-size: 20px;
      padding: 40px;
    }




}

@media(min-width: 1200px){
  .containing{
    width: 557px!important;
  }

}