.title{
    font-family: 'kollektif', 'arial', sans-serif;
    font-weight: bold;
    letter-spacing: 5px;
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

  }



.container{
    text-align: center;
}

.img-box {
	height: 500px;
	width: 100%;
	position: relative;
}

.contain{
    object-fit: contain;
    height: 100%;
  }


@media(max-width: 767px) {
    .title{
        font-size: 30px;
        text-align: center;
    }
}