<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
         FOOD & SPIRITS
        </h1>
      </div>
    </div>
  </section>
<div class="container">
<swiper [config]="config" #usefulSwiper style="padding: 70px;">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="img-box">
        <img src="../../../assets/platos/arrollado.jpg"  class="img-responsive img-fluid contain"/>
    </div>
      </div>
      <div class="swiper-slide">
        <div class="img-box">
        <img src="../../../assets/platos/matambre.jpg"  class="img-responsive img-fluid contain"/>
    </div>
    </div>
    <div class="swiper-slide">
        <div class="img-box">
        <img src="../../../assets/platos/filet.jpg"  class="img-responsive img-fluid contain"/>
    </div>
    </div>
    <div class="swiper-slide">
        <div class="img-box">
        <img src="../../../assets/platos/suprema.jpg"  class="img-responsive img-fluid contain"/>
    </div>
    </div>
    <div class="swiper-slide">
        <div class="img-box">
        <img src="../../../assets/platos/caesar.jpg"  class="img-responsive img-fluid contain"/>
    </div>
    </div>
    <div class="swiper-slide">
        <div class="img-box">
        <img src="../../../assets/platos/merluza.jpg"  class="img-responsive img-fluid contain"/>
    </div>
    </div>
    </div>
  </swiper>
</div>