<header>

<nav class="navbar" #navBar role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a  class="navbar-item title-header" href="#"></a>
  
      <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-start">
        <a href="#food" class="navbar-item white">
          Platos
        </a>
        <a href="#menu" class="navbar-item white">
          Menú
        </a>
        <a href="#history" class="navbar-item white">
          Historia 
        </a>
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item white">
         
          <a style=" text-decoration: none; color: white" href="https://www.facebook.com/Kellers-cafe-449553821902847/?hc_ref=ARTTPGCNtzJ1I0px7GTG2BYm1ZrU5ILiD1jZjx55QiiUnnDAawnUhMTJgvscT722vAE&fref=nf"><fa-icon [icon]="faFacebook" style="color:blue;font-size: 30px"></fa-icon> </a>
        </a>
        <a class="navbar-item white">
         
          <a style=" text-decoration: none; color: white" href="https://api.whatsapp.com/send?phone=5491130246895"><fa-icon [icon]="faWhatsapp" style="color:green;font-size: 30px"></fa-icon> 11-3024-6895 </a>
        </a>
      </div>
    </div>
  </nav>
<section>
  <div class="hero-body">

    <div class="container">
      <h1 class="title animated flip">
       KELLER'S CAFE
      </h1>
      <h2 class="subtitle">
       DESDE 1991
      </h2>
    </div>

  </div>
</section>
</header>