<header>

<nav class="navbar" #navBar role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item title-header">
        K
      </a>
  
      <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-start">
        <a class="navbar-item white">
          Menú
        </a>
  
  
      </div>
  
      <div class="navbar-end">
        <a class="navbar-item white">
          Horario de atención: 08:00hs a 16:00hs
        </a>
      </div>
    </div>
  </nav>
<section>
  <div class="hero-body">

      <h1 class="title">
        KELLER'S CAFE
      </h1>

  </div>
</section>
</header>